h1  {
  color: blue;
  text-align: center;
}
h2  {
  color: green;
  font-style: italic;
  text-align: center;
}
p  {
  font-family: sans-serif;
  color: orangered;
  text-align:left;
}
p1  {
  font-style: oblique;
  color: darkgreen;
  text-align: left;
  text-decoration: underline;
}
p2  {
  color: darkblue;
  text-align: left;
  }
ul  {
  line-height: 40px
}
ol  {
  line-height: 40px
}
