h1  {
  color: blue;
  text-align: center;
  text-indent: 3em;
}

h2  {
  color: green;
  font-style: italic;
  font-size: 21px;
  font-family: monospace;
  text-align: center;
}

p  {
  font-family: sans-serif;
  color: orangered;
  text-align:left;
  text-indent: 12em;
}

h4  {
  font-style: oblique;
  color: darkgreen;
  text-align: left;
  text-indent: 12em;
  text-decoration: underline;
  }

ol  {
  color: darkblue;
  text-align: left;
  text-indent: 15px;
  line-height: 40px;
  padding-left: 14em;
  }

ul  {
  color: darkblue;
  text-align: left;
  text-indent: 15px;
  line-height: 40px;
  padding-left: 14em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 7px solid #ddd;
  border-radius: 20px;
  width: 550px;
  border-color: purple;
  border-style: double;
}

body  {
  background-color: lightblue;
  font-style: normal;
  font-size: 19px;
}
